<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link th:replace="~{fragments/cssDependencies}" />
        <meta charset="utf-8" />
        <title th:text="'Postly - ' + ${profile.username}"></title>
    </head>

    <body>
        <div id="page-wrapper" class="d-flex flex-column min-vh-100">
            <header>
                <div th:insert="~{fragments/navbar}" id="navbar-content"></div>
            </header>
            <main class="mb-auto">
                <div class="container-lg">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-6">
                            <!-- Title -->
                            <div class="bg-green">
                                <div class="row row-cols-2 pt-2 mt-4">
                                    <div class="col-6 ps-5">
                                        <h6 class="text-start"><span th:text="${#lists.size(profile.authors)}" th:remove="tag"></span> followers</h6>
                                    </div>
                                    <div class="col-6 pe-5">
                                        <h6 th:text="${profile.creationDate}" class="formatDate text-end">11/11/2021</h6>
                                    </div>
                                </div>
                                <h2 th:text="${profile.username}" class="ps-4 pb-2">John Doe</h2>
                                <ul class="nav nav-fill border-top border-bottom border-white">
                                    <li class="nav-item border border-white">
                                        <a class="nav-link nav-link-static user-select-none" aria-current="page"><span class="material-symbols-rounded"> history </span> Activity</a>
                                    </li>
                                    <li class="nav-item border border-white">
                                        <a class="nav-link" th:href="@{~/profiles/{profileId}/posts(profileId=${profile.user.id})}"><span class="material-symbols-rounded"> newspaper </span><span th:text="${#lists.size(profile.posts)}" th:remove="tag">500</span> Posts</a>
                                    </li>
                                    <li class="nav-item border border-white">
                                        <a class="nav-link" th:href="@{~/profiles/{profileId}/comments(profileId=${profile.user.id})}"><span class="material-symbols-rounded"> comment </span><span th:text="${#lists.size(profile.comments)}" th:remove="tag">500</span> Comments</a>
                                    </li>
                                </ul>
                                <h2 class="ps-4 mt-3">Latest Post</h2>
                                <div class="row row-cols-2">
                                    <div class="col-8">
                                        <h4 th:if="${latestPost}" th:text="${latestPost.title}" class="color-white ps-4"></h4>
                                        <h4 th:unless="${latestPost}" class="color-white ps-4">Yet to be created&nbsp;<span class="material-symbols-rounded">sentiment_calm</span></h4>
                                    </div>
                                    <div class="col-3">
                                        <a th:if="${latestPost}" class="btn border border-white" th:href="@{~/posts/{postId}(postId=${latestPost.id})}"><span class="material-symbols-rounded">open_in_full</span>Open post</a>
                                    </div>
                                </div>
                                <h2 class="ps-4 mt-3">Latest Comment</h2>
                                <div class="row row-cols-2">
                                    <div class="col-8 text-truncate">
                                        <p th:if="${latestComment}" th:text="${latestComment.description}" class="color-white ps-4"></p>
                                        <p th:unless="${latestComment}" class="color-white ps-4">Yet to be created&nbsp;<span class="material-symbols-rounded">sentiment_calm</span></p>
                                    </div>
                                    <div class="col-3">
                                        <a th:if="${latestComment}" class="btn border border-white" th:href="@{~/posts/{postId}/comments/{commentId}(postId=${latestComment.post.id}, commentId=${latestComment.id})}"><span class="material-symbols-rounded">open_in_full</span>Open comment</a>
                                    </div>
                                </div>
                                <div class="row justify-content-center pb-3 mb-4">
                                    <div class="col-6">
                                        <!-- NOT Personal Profile Block -->
                                        <div th:unless="${personalProfile}" class="d-flex justify-content-center">
                                            <!-- Follow-Unfollow -->
                                            <div th:if="${activeProfile}">
                                                <div th:if="${userId} != ${profile.user.id}">
                                                    <div th:unless="${#lists.contains(authorsByUserId, profile.user.id)}">
                                                        <form th:action="@{~/followers/{authorId}(authorId=${profile.user.id})}" th:method="post">
                                                            <button class="btn badge badge-static h-100 border border-white" type="submit"><span class="material-symbols-rounded"> heart_plus </span>Follow</button>
                                                        </form>
                                                    </div>
                                                    <div th:if="${#lists.contains(authorsByUserId, profile.user.id)}">
                                                        <form th:action="@{~/followers/{authorId}(authorId=${profile.user.id})}" th:method="delete">
                                                            <button class="btn badge badge-static h-100 border border-white" type="submit"><span class="material-symbols-rounded"> heart_broken </span>Unfollow</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Personal Profile Block -->
                                        <div th:if="${personalProfile}">
                                            <div class="d-flex flex-row justify-content-center">
                                                <form th:action="@{~/profiles/{profileId}/update-form(profileId=${session.usersActiveProfileId})}" th:method="get">
                                                    <button class="btn badge badge-static h-100 border border-white me-2" type="submit"><span class="material-symbols-rounded"> edit </span>Edit Profile</button>
                                                </form>

                                                <form th:action="@{~/profiles/{profileId}(profileId=${session.usersActiveProfileId})}" th:method="delete">
                                                    <button class="btn badge badge-static h-100 border border-white" type="submit"><span class="material-symbols-rounded"> delete </span>Delete Profile</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="mt-auto" id="footer-content" th:insert="~{fragments/footer-content}"></footer>
        </div>
        <div th:insert="~{fragments/jsDependencies}"></div>
    </body>
</html>
