<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link th:replace="~{fragments/bootstrap-stylesheet}" />
        <link th:replace="~{fragments/main-stylesheet}" />
        <link rel="icon" type="image/x-icon" th:href="@{~/favicon.ico}" />
        <meta charset="utf-8" />
        <title>Profile</title>
    </head>

    <body>
        <header>
            <div th:insert="~{fragments/navbar}" id="navbar-content"></div>
        </header>
        <main>
            <h2>Profile</h2>
            <div th:if="${personalProfile}">
                <p>MY PROFILE</p>
                <p th:text="${profile.username}"></p>
                <p th:text="${profile.creationDate}"></p>
                <form th:action="@{/profiles/{id}/update-form(id=${session.usersActiveProfileId})}" th:method="get">
                    <p><input type="submit" value="Edit Profile" /></p>
                </form>
                <form th:action="@{/profiles/{id}(id=${session.usersActiveProfileId})}" th:method="delete">
                    <p><input type="submit" value="Delete Profile" /></p>
                </form>
            </div>
            <div th:unless="${personalProfile}">
                <p th:text="${profile.username}"></p>
                <p th:text="${profile.creationDate}"></p>
            </div>
        </main>
        <footer th:insert="~{fragments/footer-content}" id="footer-content" class="bg-primary"></footer>
        <link th:insert="~{fragments/bootstrap-js-bundle}" />
    </body>
</html>
