<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link th:replace="~{fragments/bootstrap-stylesheet}" />
        <link th:replace="~{fragments/main-stylesheet}" />
        <meta charset="utf-8" />
        <title>Postly - Latest Profiles</title>
    </head>

    <body>
        <div id="page-wrapper" class="d-flex flex-column min-vh-100">
            <header>
                <div th:insert="~{fragments/navbar}" id="navbar-content"></div>
            </header>
            <main class="mb-auto">
                <div class="container-lg">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-6">
                            <!-- Title -->
                            <div class="p-2">
                                <h1>Latest Profiles</h1>
                            </div>
                            <div th:if="${profilePage}">
                                <div th:if="${profilePage.content}">
                                    <div th:each="profile : ${profilePage.content}">
                                        <!-- Post Card -->
                                        <a class="anchor" th:id="${profile.id}"></a>
                                        <article>
                                            <div class="card mb-4">
                                                <div class="card-body">
                                                    <div class="container-lg">
                                                        <div class="row row row-cols-sm-2 row-cols-1 d-flex justify-content-between">
                                                            <div class="col">
                                                                <h4 th:text="${profile.username}">John Doe</h4>
                                                            </div>
                                                            <div class="col">
                                                                <label th:text="${profile.creationDate}" class="formatDate text-end">01/01/2001</label>
                                                            </div>
                                                        </div>
                                                        <div class="row row-cols-sm-2 row-cols-1">
                                                            <div class="col d-flex justify-content-start">
                                                                <div class="me-4">
                                                                    <a class="btn badge badge-static me-4 mt-3" th:href="@{~/profiles/{profileId}/comments(profileId=${profile.id})}">
                                                                        <span class="material-symbols-rounded"> comment </span>
                                                                        <span th:text="${#lists.size(profile.comments)}" th:remove="tag">500</span> Comments
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="col d-flex justify-content-start">
                                                                <div class="me-4">
                                                                    <a class="btn badge badge-static me-4 mt-3" th:href="@{~/profiles/{profileId}/posts(profileId=${profile.id})}">
                                                                        <span class="material-symbols-rounded"> newspaper </span>
                                                                        <span th:text="${#lists.size(profile.posts)}" th:remove="tag">500</span> Posts
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a th:href="@{~/profiles/{profileId}(profileId=${profile.id})}" class="stretched-link"></a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                                <div th:if="${totalPages == 0}">
                                    <h1>Hm... we couldn`t find any profiles <span class="material-symbols-rounded"> wind_power </span></h1>
                                </div>
                            </div>

                            <!-- Profiles Pagination Section -->
                            <div th:if="${pageNumbers}">
                                <div class="row row-cols-1 mb-4 mt-4">
                                    <div class="col d-flex justify-content-center">
                                        <div class="d-flex align-items-center w-100">
                                            <hr class="border-green border-1 opacity-100 w-100" />
                                        </div>
                                        <div class="d-flex align-items-center ms-5 me-2">
                                            <h4>Page:</h4>
                                        </div>

                                        <!-- Page Configuration -->
                                        <div class="dropup d-flex align-items-center">
                                            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                                <span th:text="${profilePage.number + 1}" th:remove="tag"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li th:each="pageNumber : ${pageNumbers}">
                                                    <a th:href="@{~/profiles?page={page}(page=${pageNumber})}" class="dropdown-item"><span th:text="${pageNumber}" th:remove="tag">42</span></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="d-flex align-items-center ms-2 me-5">
                                            <h4>of&nbsp;<span th:text="${totalPages}" th:remove="tag"></span></h4>
                                        </div>

                                        <div class="d-flex align-items-center w-100">
                                            <hr class="border-green border-1 opacity-100 w-100" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="mt-auto" id="footer-content" th:insert="~{fragments/footer-content}"></footer>
        </div>
        <link th:insert="~{fragments/bootstrap-js-bundle}" />
    </body>
</html>
