<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link th:replace="~{fragments/bootstrap-stylesheet}" />
        <link th:replace="~{fragments/main-stylesheet}" />
        <link rel="icon" type="image/x-icon" th:href="@{~/images/favicon/postly-symbol-logo-light-favicon.ico}" />
        <meta charset="utf-8" />
        <title>Author`s Followee</title>
    </head>

    <body>
        <div id="page-wrapper" class="d-flex flex-column min-vh-100">
            <header>
                <div th:insert="~{fragments/navbar}" id="navbar-content"></div>
            </header>
            <main class="mt-auto">
                <div class="container-lg">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-8">
                            <!-- Title -->
                            <div class="d-flex justify-content-between">
                                <div class="p-2">
                                    <p class="text-muted">Author`s Followee</p>
                                </div>
                                <div class="p-2">
                                    <p class="text-center text-muted">Return to author`s profile? <a th:href="@{~/profiles/{profileId}(profileId=${profileId})}" role="button">Go back</a></p>
                                </div>
                            </div>
                            <!-- Table -->
                            <div class="table-responsive-lg">
                                <!-- Profile-Comments Card -->
                                <table class="table table-hover">
                                    <caption>
                                        Author`s Followee
                                    </caption>
                                    <thead>
                                        <tr>
                                            <th>Author`s name</th>
                                            <th>Author`s page</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="author : ${authorPage.content}">
                                            <td th:text="${author.author.username}">John Doe</td>
                                            <td>
                                                <p class="text-muted"><a th:href="@{/profiles/{id}(id=${author.author.id})}" role="button">View author</a></p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- Pagination -->
                            <div th:if="${pageNumbers}">
                                <ul class="pagination">
                                    <li th:each="pageNumber : ${pageNumbers}" class="page-item" th:classappend="${pageNumber==authorPage.number + 1} ? active">
                                        <a class="page-link" th:href="@{/profiles/{profileId}/authors(profileId=${profileId}, page=${pageNumber})}">
                                            <span th:text="${pageNumber}">42</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="bg-primary mt-auto" id="footer-content" th:insert="~{fragments/footer-content}"></footer>
        </div>
        <link th:insert="~{fragments/bootstrap-js-bundle}" />
    </body>
</html>
