<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link th:replace="~{fragments/bootstrap-stylesheet}" />
        <link th:replace="~{fragments/main-stylesheet}" />
        <link rel="icon" type="image/x-icon" th:href="@{~/favicon.ico}" />
        <meta charset="utf-8" />
        <title>Profile Posts</title>
    </head>
    <!-- 
    <body>
        <main>
            <h2>Profile Posts</h2>
            <div th:if="${personalProfile}">
                <div th:each="post : ${postPage.content}">
                    <p th:text="${post.title}"></p>
                    <p th:text="${post.description}"></p>
                    <p th:text="${post.creationDate}"></p>
                    <a class="btn btn-primary" th:href="@{/posts/{id}(id=${post.id})}">Check Post</a>
                </div>
                <div>
                    <form th:action="@{/posts/create-form}" th:method="get">
                        <p><input type="submit" value="Add Post" /></p>
                    </form>
                </div>
                <div th:if="${pageNumbers}" class="pagination" th:each="pageNumber : ${pageNumbers}">
                    <a th:href="@{/profiles/{profileId}/posts(profileId=${profileId}, page=${pageNumber})}" th:text="${pageNumber}" class="btn" th:classappend="${pageNumber==postPage.number + 1} ? disabled"> </a>
                </div>
            </div>

            <div th:unless="${personalProfile}">
                <div th:each="post : ${postPage.content}">
                    <p th:text="${post.title}"></p>
                    <p th:text="${post.description}"></p>
                    <p th:text="${post.creationDate}"></p>
                    <a class="btn btn-primary" th:href="@{/posts/{id}(id=${post.id})}">Check Post</a>
                </div>
                <div th:if="${pageNumbers}" class="pagination" th:each="pageNumber : ${pageNumbers}">
                    <a th:href="@{/profiles/{profileId}/posts(profileId=${profileId}, page=${pageNumber})}" th:text="${pageNumber}" class="btn" th:classappend="${pageNumber==postPage.number + 1} ? disabled"> </a>
                </div>
            </div>
        </main>
    </body> -->

    <body>
        <div id="page-wrapper" class="d-flex flex-column min-vh-100">
            <header>
                <div th:insert="~{fragments/navbar}" id="navbar-content"></div>
            </header>
            <main class="mt-auto">
                <div class="container-lg">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-8">
                            <!-- Title -->
                            <div class="d-flex justify-content-between">
                                <div class="p-2">
                                    <p class="text-muted">Author`s Posts</p>
                                </div>
                                <div class="p-2">
                                    <p class="text-center text-muted">Return to author`s profile? <a th:href="@{~/profiles/{profileId}(profileId=${profileId})}" role="button">Go back</a></p>
                                </div>
                            </div>
                            <!-- Table -->
                            <div class="table-responsive-lg">
                                <!-- Profile-Comments Card -->
                                <table class="table table-hover">
                                    <caption>
                                        Author`s Posts
                                    </caption>
                                    <thead>
                                        <tr>
                                            <th>Published On</th>
                                            <th>Post Title</th>
                                            <th>Post Content</th>
                                            <th>Post</th>
                                            <th>Comments</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="post : ${postPage.content}">
                                            <td th:text="${#temporals.format(post.creationDate, 'dd-MM-yyyy HH:mm')}">01-01-2001</td>
                                            <td th:text="${#strings.length(post.title) > 61} ? ${#strings.substring(post.title,0,60)} + '...' : ${post.title}">Post Title Example</td>
                                            <td th:text="${#strings.length(post.description) > 61} ? ${#strings.substring(description,0,60)} + '...' : ${post.description}">Post Title Example</td>
                                            <td>
                                                <p class="text-muted"><a th:href="@{/posts/{id}(id=${post.id})}" role="button">View post</a></p>
                                            </td>
                                            <td>
                                                <p class="text-muted"><a th:href="@{/posts/{postId}(postId=${post.id})}" role="button">View post</a></p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- Pagination -->
                            <div th:if="${pageNumbers}">
                                <ul class="pagination">
                                    <li th:each="pageNumber : ${pageNumbers}" class="page-item" th:classappend="${pageNumber==postPage.number + 1} ? active">
                                        <a class="page-link" th:href="@{/profiles/{profileId}/posts(profileId=${profileId}, page=${pageNumber})}">
                                            <span th:text="${pageNumber}">42</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="bg-primary mt-auto" id="footer-content" th:insert="~{fragments/footer-content}"></footer>
        </div>
        <link th:insert="~{fragments/bootstrap-js-bundle}" />
    </body>
</html>
