<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link th:replace="~{fragments/bootstrap-stylesheet}" />
        <link th:replace="~{fragments/main-stylesheet}" />
        <link rel="icon" type="image/x-icon" th:href="@{~/favicon.ico}" />
        <meta charset="utf-8" />
        <title>Create profile</title>
    </head>

    <body>
        <header>
            <div th:insert="~{fragments/navbar}" id="navbar-content"></div>
        </header>
        <main>
            <h2>Update a Post:</h2>
            <!-- <form action="#" th:method="put" th:action="@{/posts/{id}(id=${postId})}" th:object="${post}">
                <p>Title: <input th:field="*{title}" type="text" /></p>
                <p>Description:<textarea th:field="*{description}" type="text"></textarea></p>
                <div>
                    <input type="submit" value="Update Post" />
                </div>
            </form> -->
            <form th:action="@{/posts/{id}(id=${postId})}" th:object="${post}" th:method="put" class="form">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input class="form-control" type="text" th:field="*{title}" id="title" placeholder="Type title here:" />
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</div>
                </div>
                <div class="form-group">
                    <label for="comment">Description</label>
                    <textarea class="form-control" type="text" th:field="*{description}" id="comment" rows="3"></textarea>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</div>
                </div>
                <input type="submit" class="btn btn-success" value="Update Post" />
            </form>
        </main>
        <footer th:insert="~{fragments/footer-content}" id="footer-content" class="bg-primary"></footer>
        <link th:insert="~{fragments/bootstrap-js-bundle}" />
    </body>
</html>
