<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link th:replace="~{fragments/main-stylesheet}" />
        <meta charset="utf-8" />
        <title th:text="'Postly - ' + ${post.title}"></title>
    </head>

    <body>
        <div id="page-wrapper" class="d-flex flex-column min-vh-100">
            <header>
                <div th:insert="~{fragments/navbar}" id="navbar-content"></div>
            </header>
            <main class="mb-auto">
                <div class="container-lg">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-6">
                            <!-- Breadcrumb -->
                            <nav class="mt-4" style="--bs-breadcrumb-divider: '>'">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a th:href="@{~/profiles/{profileId}(profileId=${post.profile.id})}"><span th:text="${post.profile.username}" th:remove="tag"></span></a>
                                    </li>
                                    <li class="breadcrumb-item active">
                                        <a th:href="@{~/posts/{postId}(postId=${post.id})}"><span th:text="${post.title}" th:remove="tag"></span></a>
                                    </li>
                                </ol>
                            </nav>

                            <!-- Post Card -->
                            <article>
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="container-lg">
                                            <div class="row row row-cols-sm-2 row-cols-1 d-flex justify-content-between">
                                                <div class="col">
                                                    <h4 th:text="${post.title}">Post Title</h4>
                                                </div>
                                                <div class="col">
                                                    <label th:text="${post.creationDate}" class="formatDate text-end">01/01/2001</label>
                                                </div>
                                            </div>
                                            <div class="row row-cols-sm-2 row-cols-1 mt-5">
                                                <div class="col d-flex justify-content-start">
                                                    <div class="me-4">
                                                        <a class="btn badge badge-static me-4 mt-3" th:href="@{~/posts/{postId}/comments(postId=${post.id})}">
                                                            <span class="material-symbols-rounded"> comment </span>
                                                            <span th:text="${#lists.size(post.comments)}" th:remove="tag">500</span> Comments
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col d-flex justify-content-start">
                                                    <div class="me-4">
                                                        <form th:action="@{~/posts/{postId}/comments/create-form(postId=${post.id})}" th:method="get">
                                                            <button class="btn badge badge-static h-100 mt-3" type="submit">
                                                                <span class="material-symbols-rounded"> add </span>
                                                                Add Comment
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- NOT Personal Post Block -->
                                            <div th:unless="${personalPost}">
                                                <div class="row row-cols-sm-2 row-cols-1 mt-3">
                                                    <div class="col d-flex justify-content-start">
                                                        <div class="me-4">
                                                            <a class="btn badge me-4 mt-3" th:href="@{~/profiles/{profileId}(profileId=${post.profile.id})}">
                                                                <span class="material-symbols-rounded"> person </span>
                                                                <p th:text="${post.profile.username}" th:remove="tag">John Doe</p>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <!-- Follow-Unfollow Block -->
                                                    <div class="col d-flex justify-content-start">
                                                        <div class="me-4">
                                                            <div th:if="${activeProfile}" th:remove="tag">
                                                                <div th:if="${userId} != ${post.profile.user.id}" th:remove="tag">
                                                                    <div th:unless="${#lists.contains(authorsByUserId, post.profile.user.id)}" th:remove="tag">
                                                                        <form th:action="@{~/followers/{authorId}(authorId=${post.profile.user.id})}" th:method="post" class="h-100">
                                                                            <button class="btn badge badge-static h-100 mt-3" type="submit">
                                                                                <span class="material-symbols-rounded"> heart_plus </span>
                                                                                Follow
                                                                            </button>
                                                                        </form>
                                                                    </div>
                                                                    <div th:if="${#lists.contains(authorsByUserId, post.profile.user.id)}" th:remove="tag">
                                                                        <form th:action="@{~/followers/{authorId}(authorId=${post.profile.user.id})}" th:method="delete" class="h-100">
                                                                            <button class="btn badge badge-static h-100 mt-3" type="submit">
                                                                                <span class="material-symbols-rounded"> heart_broken </span>
                                                                                Unfollow
                                                                            </button>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <!-- Personal Post Block -->
                            <div th:if="${personalPost}">
                                <div class="d-flex flex-row justify-content-center">
                                    <form th:action="@{~/posts/{postId}/update-form(postId=${post.id})}" th:method="get">
                                        <button class="btn badge badge-static h-100 border border-white me-2" type="submit"><span class="material-symbols-rounded"> edit </span>Edit Post</button>
                                    </form>

                                    <form th:action="@{~/posts/{postId}(postId=${post.id})}" th:method="delete">
                                        <button class="btn badge badge-static h-100 border border-white" type="submit"><span class="material-symbols-rounded"> delete </span>Delete Post</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="mt-auto" id="footer-content" th:insert="~{fragments/footer-content}"></footer>
        </div>
        <link th:insert="~{fragments/bootstrap-js-bundle}" />
    </body>
</html>
