<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link th:replace="~{fragments/cssDependencies}" />
        <meta charset="utf-8" />
        <title>Postly - Add Post</title>
    </head>

    <body>
        <div id="page-wrapper" class="d-flex flex-column min-vh-100">
            <header>
                <div th:insert="~{fragments/navbar}" id="navbar-content"></div>
            </header>
            <main class="mb-auto">
                <div class="container-lg">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-6">
                            <!-- Breadcrumb -->
                            <nav class="mt-4" style="--bs-breadcrumb-divider: '>'">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a th:href="@{~/posts}">Latest posts</a>
                                    </li>
                                    <li class="breadcrumb-item active">
                                        <a th:href="@{~/posts/create-form}">Create post</a>
                                    </li>
                                </ol>
                            </nav>
                            <!-- Form -->
                            <form th:action="@{~/posts}" th:object="${post}" th:method="post" class="form">
                                <!-- Title -->
                                <div class="row row-cols-2 mb-3 mt-5 justify-content-end">
                                    <div class="col-4">
                                        <h4>Add Post</h4>
                                    </div>
                                    <div class="col-6">
                                        <a id="popover-how-to-format" tabindex="0" class="btn" role="button" data-bs-toggle="popover" data-bs-trigger="focus">How to Format</a>
                                    </div>
                                </div>

                                <!-- Title input -->
                                <div class="form-floating mb-3">
                                    <input class="form-control" type="text" th:field="*{title}" id="title" placeholder="Type title here:" />
                                    <label for="title">Title</label>
                                    <div class="alert alert-warning" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</div>
                                </div>

                                <!-- Content input -->
                                <div class="form-floating mb-3">
                                    <textarea class="form-control post-textarea" type="text" th:field="*{description}" id="comment"></textarea>
                                    <label for="comment">Content</label>
                                    <div class="alert alert-warning" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</div>
                                </div>

                                <!-- Add Post button -->
                                <input type="submit" class="btn w-100" value="Add Post" />

                                <!-- Go back link -->
                                <p class="text-center text-muted m-2">Return to recent posts? <a th:href="@{~/posts}" role="button">Go back</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="mt-auto" id="footer-content" th:insert="~{fragments/footer-content}"></footer>
        </div>
        <div th:insert="~{fragments/jsDependencies}"></div>
    </body>
</html>
