<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <link th:replace="~{fragments/bootstrap-stylesheet}" />
        <link th:replace="~{fragments/main-stylesheet}" />
        <link rel="icon" th:href="@{~/favicon.ico}" type="image/x-icon" />
        <meta charset="utf-8" />
        <title>Password reset</title>
    </head>

    <body>
        <main>
            <!-- <form th:action="@{/users/forgot-password}" th:method="post">
                <p>No Problem! Enter your email below and we will send you an email with instruction to reset your password.</p>
                <p>Email : <input name="email" type="text" /></p>
                <input type="submit" value="Send Reset Link" />
            </form>
            <p>Back to <a th:href="@{/login}">Login</a></p> -->

            <h2>No Problem! Enter your email below and we will send you an email with instruction to reset your password.</h2>
            <form th:action="@{/users/forgot-password}" th:object="${user}" th:method="post" class="form">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" type="email" th:field="*{email}" id="email" placeholder="Type email here:" />
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
                </div>
                <input type="submit" class="btn btn-success" value="Send Reset Link" />
                <a class="btn btn-primary" th:href="@{/login}" role="button">Login</a>
                <!-- <a class="btn btn-primary" th:href="@{/logout}" role="button">Log out</a> -->
            </form>
        </main>
        <footer class="bg-primary" id="footer-content" th:insert="~{fragments/footer-content}"></footer>
        <link th:insert="~{fragments/bootstrap-js-bundle}" />
    </body>
</html>
