<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <link th:replace="~{fragments/bootstrap-stylesheet}" />
        <link th:replace="~{fragments/main-stylesheet}" />
        <link rel="icon" th:href="@{~/favicon.ico}" type="image/x-icon" />
        <meta charset="utf-8" />
        <title>Password reset</title>
    </head>

    <body>
        <main>
            <h2>Password Reset</h2>
            <!-- <form action="#" th:action="@{/users/forgot-password-verify?code={code}(code=${code})}" th:method="post" th:object="${user}">
                <p>Password: <input th:field="*{password}" type="password" /></p>
                <p>Confirm password:<input th:field="*{matchingPassword}" type="password" /></p>
                <div>
                    <input type="submit" value="Reset Password" />
                </div>
                <p>Back to <a th:href="@{/login}">Login</a></p>
            </form> -->

            <form th:action="@{/users/forgot-password-verify?code={code}(code=${code})}" th:object="${user}" th:method="post" class="form">
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" type="password" th:field="*{password}" id="password" placeholder="Type password here:" />
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
                </div>
                <div class="form-group">
                    <label for="matchingPassword">Confirm password</label>
                    <input class="form-control" type="password" th:field="*{matchingPassword}" id="matchingPassword" placeholder="Type password again:" />
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('matchingPassword')}" th:errors="*{matchingPassword}">MatchingPassword Error</div>
                </div>
                <input type="submit" class="btn btn-success" value="Reset Password" />
                <a class="btn btn-primary" th:href="@{/login}" role="button">Login</a>
                <!-- <a class="btn btn-primary" th:href="@{/logout}" role="button">Log out</a> -->
            </form>
        </main>
        <footer class="bg-primary" id="footer-content" th:insert="~{fragments/footer-content}"></footer>
        <link th:insert="~{fragments/bootstrap-js-bundle}" />
    </body>
</html>
