<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link th:replace="~{fragments/bootstrap-stylesheet}" />
        <link th:replace="~{fragments/main-stylesheet}" />
        <meta charset="utf-8" />
        <title>Postly - Password Reset Verification Unsuccessful</title>
    </head>

    <body>
        <div id="page-wrapper" class="d-flex flex-column min-vh-100">
            <main class="mt-auto">
                <div class="container-lg">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-4">
                            <!-- Title -->
                            <div class="text-center p-2 brand-font">
                                <h1>Postly</h1>
                            </div>

                            <!-- Notification -->
                            <div class="text-center p-2">
                                <h4>Password Reset Verification Unsuccessful</h4>
                                <p>Apologies, but we were unable to reset your password. It is possible that it has already been reset or that the verification code entered is incorrect.</p>
                            </div>

                            <!-- Log in link -->
                            <p class="text-center text-muted m-2">Would you like to log in? <a th:href="@{~/login}" role="button">Log in</a></p>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="mt-auto" id="footer-content" th:insert="~{fragments/footer-content}"></footer>
        </div>
        <link th:insert="~{fragments/bootstrap-js-bundle}" />
    </body>
</html>
