<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <link th:replace="~{fragments/bootstrap-stylesheet}" />
        <link th:replace="~{fragments/main-stylesheet}" />
        <link rel="icon" th:href="@{~/favicon.ico}" type="image/x-icon" />
        <meta charset="utf-8" />
        <title>User registration</title>
    </head>

    <body>
        <main>
            <h2>Registration</h2>
            <!-- <form action="#" th:action="@{/users/registration}" th:method="post" th:object="${user}">
                <p>Email: <input th:field="*{email}" type="text" /></p>
                <p>Password: <input th:field="*{password}" type="password" /></p>
                <p>
                    Confirm password:
                    <input th:field="*{matchingPassword}" type="password" />
                </p>
                <div><input type="submit" value="Create account" /></div>
                <p>Back to <a th:href="@{/login}">Login</a></p>
            </form> -->
            <form th:action="@{/users/registration}" th:object="${user}" th:method="post" class="form">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" type="email" th:field="*{email}" id="email" placeholder="Type email here:" />
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" type="password" th:field="*{password}" id="password" placeholder="Type password here:" />
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
                </div>
                <div class="form-group">
                    <label for="matchingPassword">Confirm password</label>
                    <input class="form-control" type="password" th:field="*{matchingPassword}" id="matchingPassword" placeholder="Type same password here:" />
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('matchingPassword')}" th:errors="*{matchingPassword}">MatchingPassword Error</div>
                </div>
                <input type="submit" class="btn btn-success" value="Create account" />
                <a class="btn btn-primary" th:href="@{/login}" role="button">Login</a>
            </form>
        </main>
        <footer class="bg-primary" id="footer-content" th:insert="~{fragments/footer-content}"></footer>
        <link th:insert="~{fragments/bootstrap-js-bundle}" />
    </body>
</html>
