<nav class="navbar fixed-top navbar-light navbar-expand-lg">
    <div class="container-fluid">
        <!-- Brand -->
        <a th:href="@{~/posts}">
            <h2>Postly</h2>
        </a>
        <ul class="navbar-nav">
            <!-- Search -->
            <li class="nav-item">
                <form class="d-flex flex-row" th:action="@{~/search?q={query}(query=${query})}" th:method="get">
                    <input class="search-input light form-control me-2" type="search" placeholder="Search Postly" th:name="q" th:value="${query}" />
                    <button class="btn" type="submit">
                        <span class="material-symbols-rounded"> search </span>
                    </button>
                </form>
            </li>

            <!-- New Posts -->
            <li class="nav-item">
                <a class="btn" th:href="@{~/posts}">
                    <span class="material-symbols-rounded"> newspaper </span>
                </a>
            </li>

            <!-- Create Account -->
            <div th:unless="${#authorization.expression('hasRole(''ROLE_PROFILE_ACTIVE'')')}">
                <li class="nav-item">
                    <a class="btn" th:href="@{~/profiles/create-form}">
                        <span class="material-symbols-rounded"> person_add </span>
                    </a>
                </li>
            </div>

            <!-- Go to Account -->
            <div th:if="${#authorization.expression('hasRole(''ROLE_PROFILE_ACTIVE'')')}">
                <li class="nav-item">
                    <a class="btn dropdown-toggle" data-bs-toggle="dropdown" th:href="@{~/profiles/{profileId}(profileId=${#authentication.getPrincipal().getUserId()})}">
                        <span class="material-symbols-rounded"> account_circle </span>
                    </a>
                    <ul class="dropdown-menu profile-navbar-dropdown">
                        <li>
                            <a class="dropdown-item" th:href="@{~/profiles/{profileId}(profileId=${#authentication.getPrincipal().getUserId()})}"><span class="material-symbols-rounded"> account_circle </span>Profile</a>
                        </li>
                        <li>
                            <a class="dropdown-item" th:href="@{~/profiles/{profileId}/posts(profileId=${#authentication.getPrincipal().getUserId()})}"><span class="material-symbols-rounded"> newspaper </span>Posts</a>
                        </li>
                        <li>
                            <a class="dropdown-item" th:href="@{~/profiles/{profileId}/comments(profileId=${#authentication.getPrincipal().getUserId()})}"><span class="material-symbols-rounded"> comment </span>Comments</a>
                        </li>
                        <li>
                            <a class="dropdown-item" th:href="@{~/profiles/{profileId}/authors(profileId=${#authentication.getPrincipal().getUserId()})}"><span class="material-symbols-rounded"> person </span>Authors</a>
                        </li>
                        <li>
                            <a class="dropdown-item" th:href="@{~/profiles/{profileId}/followers(profileId=${#authentication.getPrincipal().getUserId()})}"><span class="material-symbols-rounded"> groups </span>Followers</a>
                        </li>
                        <li><hr class="dropdown-divider" /></li>
                        <!-- Create Post-->
                        <li>
                            <a class="dropdown-item" th:href="@{~/posts/create-form}"><span class="material-symbols-rounded"> post_add </span>Create Post</a>
                        </li>
                        <li><hr class="dropdown-divider" /></li>
                        <!-- Log out -->
                        <li>
                            <form class="dropdown-item" th:action="@{~/logout}" th:method="post">
                                <button class="btn" type="submit"><span class="material-symbols-rounded"> logout </span>Log out</button>
                            </form>
                        </li>
                    </ul>
                </li>
            </div>
        </ul>
    </div>
</nav>
