<!-- <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link th:replace="~{fragments/bootstrap-stylesheet}" />
        <link th:replace="~{fragments/main-stylesheet}" />
        <link rel="icon" type="image/x-icon" th:href="@{../static/favicon.ico}" />
        <meta charset="utf-8" />
        <title>Password reset</title>
    </head>

    <body>
        <h2>Password Reset</h2>
        <form action="#" method="post" th:action="@{/forgot-password-verify?code={code}(code=${code})}" th:object="${user}">
            <p>Password: <input th:field="*{password}" type="password" /></p>
            <p>
                Confirm password:
                <input th:field="*{matchingPassword}" type="password" />
            </p>
            <div><input type="submit" value="Reset Password" /></div>
            <p>Back to <a th:href="@{/login}">Login</a></p>
        </form>

        <footer th:insert="~{fragments/footer-content}" id="footer-content" class="bg-primary fixed-bottom"></footer>
        <link th:insert="~{fragments/bootstrap-js-bundle}" />
    </body>
</html> -->
