<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link th:replace="~{fragments/bootstrap-stylesheet}" />
        <link th:replace="~{fragments/main-stylesheet}" />
        <link rel="icon" type="image/x-icon" th:href="@{../static/favicon.ico}" />
        <meta charset="utf-8" />
        <title>Password reset verification notification</title>
    </head>

    <body>
        <div class="container text-center">
            <h3>We have sent a verification message to the provided email address. Reset your password account by clicking on RESET PASSWORD link.</h3>
        </div>

        <footer th:insert="~{fragments/footer-content}" id="footer-content" class="bg-primary fixed-bottom"></footer>
        <link th:insert="~{fragments/bootstrap-js-bundle}" />
    </body>
</html>
