<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <body>
        <h2>Password Reset</h2>
        <form action="#" method="post" th:action="@{/forgot-password-verify?code={code}(code=${code})}" th:object="${user}">
            <p>Password: <input th:field="*{password}" type="password" /></p>
            <p>
                Confirm password:
                <input th:field="*{matchingPassword}" type="password" />
            </p>
            <div><input type="submit" value="Reset Password" /></div>
            <p>Back to <a th:href="@{/login}">Login</a></p>
        </form>
    </body>
</html>
