<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Spring Security Example</title>
    </head>
    <body>
        <form method="post" th:action="@{/login}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <p>User Name : <input name="username" type="text" /></p>
            <p>Password: <input name="password" type="password" /></p>
            <input type="submit" value="Sign In" />
        </form>
        <p>
            First time here?
            <a th:href="@{/registration}">Create a new account</a>
        </p>
    </body>
</html>
