<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <body>
        <h2>Create a new account</h2>
        <form action="#" method="post" th:action="@{/registration}" th:object="${user}">
            <p>Email: <input th:field="*{email}" type="text" /></p>
            <p>Password: <input th:field="*{password}" type="password" /></p>
            <p>
                Confirm password:
                <input th:field="*{matchingPassword}" type="password" />
            </p>
            <div><input type="submit" value="Create account" /></div>
        </form>
    </body>
</html>
