<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link th:replace="~{fragments/bootstrap-stylesheet}" />
        <link th:replace="~{fragments/main-stylesheet}" />
        <link rel="icon" type="image/x-icon" th:href="@{~/images/favicon/postly-symbol-logo-light-favicon.ico}" />
        <meta charset="utf-8" />
        <title>Edit Comment</title>
    </head>

    <body>
        <div id="page-wrapper" class="d-flex flex-column min-vh-100">
            <header>
                <div th:insert="~{fragments/navbar}" id="navbar-content"></div>
            </header>
            <main class="mt-auto">
                <div class="container-lg">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-4">
                            <!-- Form -->
                            <form th:action="@{~/posts/{postId}/comments/{commentId}(postId=${postId}, commentId=${commentId})}" th:object="${comment}" th:method="put" class="form">
                                <!-- Title -->
                                <div class="text-center p-2">
                                    <h4>Edit Comment</h4>
                                </div>

                                <!-- Comment input -->
                                <div class="form-floating mb-3">
                                    <textarea class="form-control" type="text" th:field="*{description}" id="description" rows="10"></textarea>
                                    <label for="description">Comment</label>
                                    <div class="alert alert-warning" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</div>
                                </div>

                                <!-- Edit Comment button -->
                                <input type="submit" class="btn btn-primary w-100" value="Update" />

                                <!-- Go back link -->
                                <p class="text-center text-muted m-2">Prefer not to edit comment? <a th:href="@{~/posts/{postId}/comments/{commentId}(postId=${postId}, commentId=${commentId})}" role="button">Go back</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="bg-primary mt-auto" id="footer-content" th:insert="~{fragments/footer-content}"></footer>
        </div>
        <link th:insert="~{fragments/bootstrap-js-bundle}" />
    </body>
</html>
