<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link th:replace="~{fragments/bootstrap-stylesheet}" />
        <link th:replace="~{fragments/main-stylesheet}" />
        <link rel="icon" type="image/x-icon" th:href="@{~/images/favicon/postly-symbol-logo-light-favicon.ico}" />
        <meta charset="utf-8" />
        <title>Comment</title>
    </head>

    <body>
        <div id="page-wrapper" class="d-flex flex-column min-vh-100">
            <header>
                <div th:insert="~{fragments/navbar}" id="navbar-content"></div>
            </header>
            <main class="mt-auto">
                <div class="container-lg">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-6">
                            <!-- Comment Card -->
                            <div class="card mb-4">
                                <div class="card-body">
                                    <!-- Title -->
                                    <div class="text-center p-2">
                                        <p class="text-muted">Commented on <span class="gradient-text-orange" th:text="${comment.post.title}">Post Title Example</span></p>
                                    </div>

                                    <!-- Comment -->
                                    <p th:text="${comment.description}">comment example</p>

                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <p class="text-muted">Written by <span class="gradient-text-orange" th:text="${comment.profile.username}">John Doe</span></p>
                                        </div>
                                        <div>
                                            <p class="text-muted">Publication Date <span class="gradient-text-orange" th:text="${comment.creationDate}">01/01/2001</span></p>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <!-- author's page link -->
                                            <p class="text-center text-muted">Visit author's page? <a th:href="@{~/profiles/{id}(id=${comment.profile.id})}" role="button">author's page</a></p>
                                        </div>
                                        <div>
                                            <!-- Go back link -->
                                            <p class="text-center text-muted">Return to post? <a th:href="@{~/posts/{postId}(postId=${postId})}" role="button">Go back</a></p>
                                        </div>
                                    </div>

                                    <!-- Follow-Unfollow Block -->
                                    <div th:if="${activeProfile}">
                                        <div th:if="${userId} != ${comment.profile.user.id}">
                                            <div th:unless="${#lists.contains(authorsByUserId, comment.profile.user.id)}">
                                                <form th:action="@{~/followers/{id}(id=${comment.profile.user.id})}" th:method="post">
                                                    <input type="submit" class="btn btn-primary w-100" value="Follow Author" />
                                                </form>
                                            </div>
                                            <div th:if="${#lists.contains(authorsByUserId, comment.profile.user.id)}">
                                                <form th:action="@{~/followers/{id}(id=${comment.profile.user.id})}" th:method="delete">
                                                    <input type="submit" class="btn btn-primary w-100" value="Unfollow Author" />
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Personal Comment Block -->
                            <div th:if="${personalComment}">
                                <div class="d-flex flex-row justify-content-center">
                                    <div class="p-2">
                                        <form th:action="@{~/posts/{postId}/comments/{commentId}/update-form(postId=${postId}, commentId=${commentId})}" th:method="get">
                                            <input type="submit" class="btn btn-primary w-100" value="Edit Comment" />
                                        </form>
                                    </div>
                                    <div class="p-2">
                                        <form th:action="@{~/posts/{postId}/comments/{commentId}(postId=${postId}, commentId=${commentId})}" th:method="delete">
                                            <input type="submit" class="btn btn-primary w-100" value="Delete Comment" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="bg-primary mt-auto" id="footer-content" th:insert="~{fragments/footer-content}"></footer>
        </div>
        <link th:insert="~{fragments/bootstrap-js-bundle}" />
    </body>
</html>
