<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link th:replace="~{fragments/main-stylesheet}" />
        <meta charset="utf-8" />
        <title th:text="'Postly - commented on' + ${comment.post.title}"></title>
    </head>

    <body>
        <div id="page-wrapper" class="d-flex flex-column min-vh-100">
            <header>
                <div th:insert="~{fragments/navbar}" id="navbar-content"></div>
            </header>
            <main class="mb-auto">
                <div class="container-lg">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-6">
                            <!-- Breadcrumb -->
                            <nav class="mt-4" style="--bs-breadcrumb-divider: '>'">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a th:href="@{~/profiles/{profileId}(profileId=${comment.profile.id})}"><span th:text="${comment.profile.username}" th:remove="tag"></span></a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a th:href="@{~/posts/{postId}(postId=${comment.post.id})}"><span th:text="${comment.post.title}" th:remove="tag"></span></a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a th:href="@{~/posts/{postId}/comments(postId=${comment.post.id})}">Comments</a>
                                    </li>
                                    <li class="breadcrumb-item active">
                                        <a th:href="@{~/posts/{postId}/comments/{commentId}(postId=${comment.post.id}, commentId=${comment.id})}">Comment</a>
                                    </li>
                                </ol>
                            </nav>
                            <!-- Comment Card -->
                            <article>
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="container-lg">
                                            <div class="row row-cols-1">
                                                <div class="col d-flex justify-content-start">
                                                    <h3>Commented on <span th:text="${comment.post.title}" th:remove="tag"></span></h3>
                                                </div>
                                            </div>
                                            <div class="row row row-cols-sm-2 row-cols-1 d-flex justify-content-between">
                                                <div class="col">
                                                    <p th:text="${comment.description}">Comment description</p>
                                                </div>
                                                <div class="col">
                                                    <label th:text="${comment.creationDate}" class="formatDate text-end">01/01/2001</label>
                                                </div>
                                            </div>

                                            <!-- Original Post -->
                                            <div class="row row-cols-1 mt-5">
                                                <div class="col d-flex justify-content-start">
                                                    <div class="me-4">
                                                        <a class="btn badge badge-static me-4 mt-3" th:href="@{~/posts/{postId}(postId=${comment.post.id})}"> <span class="material-symbols-rounded"> newspaper </span>Original post </a>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- NOT Personal Comment Block -->
                                            <div th:unless="${personalComment}">
                                                <div class="row row-cols-sm-2 row-cols-1 mt-3">
                                                    <div class="col d-flex justify-content-start">
                                                        <div class="me-4">
                                                            <a class="btn badge me-4" th:href="@{~/profiles/{profileId}(profileId=${comment.profile.id})}">
                                                                <span class="material-symbols-rounded"> person </span>
                                                                <p th:text="${comment.profile.username}" th:remove="tag">John Doe</p>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <!-- Follow-Unfollow Block -->
                                                    <div class="col d-flex justify-content-start">
                                                        <div class="me-4">
                                                            <div th:if="${activeProfile}" th:remove="tag">
                                                                <div th:if="${userId} != ${comment.profile.user.id}" th:remove="tag">
                                                                    <div th:unless="${#lists.contains(authorsByUserId, comment.profile.user.id)}" th:remove="tag">
                                                                        <form th:action="@{~/followers/{authorId}(authorId=${comment.profile.user.id})}" th:method="post" class="h-100">
                                                                            <button class="btn badge badge-static h-100" type="submit">
                                                                                <span class="material-symbols-rounded"> heart_plus </span>
                                                                                Follow
                                                                            </button>
                                                                        </form>
                                                                    </div>
                                                                    <div th:if="${#lists.contains(authorsByUserId, comment.profile.user.id)}" th:remove="tag">
                                                                        <form th:action="@{~/followers/{authorId}(authorId=${comment.profile.user.id})}" th:method="delete" class="h-100">
                                                                            <button class="btn badge badge-static h-100" type="submit">
                                                                                <span class="material-symbols-rounded"> heart_broken </span>
                                                                                Unfollow
                                                                            </button>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <!-- Personal Comment Block -->
                            <div th:if="${personalComment}">
                                <div class="d-flex flex-row justify-content-center">
                                    <form th:action="@{~/posts/{postId}/comments/{commentId}/update-form(postId=${postId}, commentId=${commentId})}" th:method="get">
                                        <button class="btn badge badge-static h-100 border border-white me-2" type="submit"><span class="material-symbols-rounded"> edit </span>Edit Comment</button>
                                    </form>

                                    <form th:action="@{~/posts/{postId}/comments/{commentId}(postId=${postId}, commentId=${commentId})}" th:method="delete">
                                        <button class="btn badge badge-static h-100 border border-white" type="submit"><span class="material-symbols-rounded"> delete </span>Delete Comment</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="mt-auto" id="footer-content" th:insert="~{fragments/footer-content}"></footer>
        </div>
        <link th:insert="~{fragments/bootstrap-js-bundle}" />
    </body>
</html>
