body {
    min-height: 100vh !important;
    /* display: flex !important;
    flex-direction: column !important; */
}

p {
    white-space: break-spaces !important;
}

.nav-link {
    color: white !important;
}
.nav-link:hover {
    color: #f0ad4e !important;
}
a {
    text-decoration: none;
}
