body {
    min-height: 100vh !important;
    display: flex !important;
    flex-direction: column !important;
}

footer {
    margin-top: auto !important;
}

.nav-link {
    color: white !important;
}
.nav-link:hover {
    color: #f0ad4e !important;
}
